form label {
    margin-right: 5px;
}

form button {
    margin-left: 5px;
}

form {
    margin-bottom: 20px;
}

table thead th {
    background-color: #B0E0E6;
}


.searchip {
    background-color: #E6E6FA;
}

.aggr {
    background-color: #FFEBCD;
}

.rows {
    background-color: #F1F0F0;    
}
